/* ==== Обнуление ==== */

* {
    padding: 0;
    margin: 0;
    border: 0;
  }
  
  *, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  :focus, :active {
    outline: none;
  }
  
  a:focus, a:active {
    outline: none;
  }
  
  nav, footer, header, aside {
    display: block;
  }
  
  html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  
  input, button, textarea {
    font-family: inherit;
  }
  
  input::-ms-clear {
    display: none;
  }
  
  button {
    cursor: pointer;
  }
  
  button::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
  
  a, a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  ul li {
    list-style: none;
  }
  
  img {
    vertical-align: top;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: 400;
  }
  
    /*--------------------*/

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

body {
    font-family: 'Cabin', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0.3px;
}

.container {
    width: 1160px;
    margin: 0 auto;
}

.title {
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 125%;
    margin: 30px 0px 0px 0px;
}

.title:after {
    content:'';
    display: block;
    width: 30px;
    height: 5px;
    background: #FFC905;
    margin: 12px 0px;
  }
  
/* ==== HEADER SECTION ==== */

.header-section {
    background: #292935;
    padding: 30px 0px;
}

.header-menu__list {
    display: flex;
    justify-content: flex-end;
}

.header-menu__item:not(:last-child) {
    margin: 0px 40px 0px 0px;
}

.header-menu__link {
    color: white;
    font-weight: 500;
    font-size: 18px;
    transition: all 0.4s ease 0.4s;
}

.header-menu__link:hover {
    color: #FFC905;
}

/* ------------------------ */

/* ==== MAIN SECTION ==== */

.main-container {
    display: flex;
}

.main-content {
    padding: 20px;
}
/* ---------------------- */

.aside-content {
    color: #FFFFFF;
    background: #292935;
    box-sizing: border-box;
}

.avatar {
    
}

.avatar-image {
    width: 100%;
    position: relative;
}

.avatar-image:before {
    content: '';
    position: absolute;
    width: 48px;
    height: 100%;
    top: 0px;
    left: 16px;
    background: rgba(255, 205, 4, 0.7);
}

.aside-info {
    padding: 10px;
}

.contact-title {
    margin: 0px 0px 15px 0px;
}
.contact__list{

}
.contact__item span {
    margin-right: 10px;
}
.contact__item-link{
    color: #FFFFFF;
}

/* ==== FOOTER ==== */
.footer {
    background: #292935;
    color: #FFFFFF;
}
  
.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}

.footer-github__link {
    color: #FFFFFF;
    cursor: pointer;
    transition: all 0.4s ease 0.4s;
}
  
.footer-github__link:hover {
    color: #FFC905;
}
  
.footer-rsschool__link {
    cursor: pointer;
}
  
.footer-rsschool__link img {
    height: 29px;
}